<h3> Make a bet for this round. </h3>

<%= session[:player_name] %> has $500.
<br />

<form action="bet" method="post">
    <input type="text" name="bet_amount" />
    <br />
    <button type="submit" class="btn">Make Bet</button>
</form>